.content{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 23px;

    .song-details{
        .cords{
            font-weight: bold;
        }

        .cordshow{
            text-decoration: underline;
            cursor: pointer;
        }
        
    }
}

