.content{
    display: grid;
    width: calc(100% - 20px);
    padding: 10px;

    grid-template-columns: 1fr 3fr;
    font-size: 28px;

    .action-menu{
        padding:  88px 0 0 20px;

        div{
            transition: .3s;
            line-height: 48px;
            margin-bottom: 15px;
            text-decoration: underline;
            cursor: pointer;
            
            &:hover{
                color: #EEBA03;
                text-decoration-color: #EEBA03;
            }
        }
    }

    .song-details{
        
    }
}

