<div class="content">
    <div class="song-list">
        <h3>Wybierz piosenki do śpiewnika</h3>
        <div class="songs-list">
            <div class="songs-list-item" *ngFor="let item of songs">
                <label class="song-item-label">
                    <input type="checkbox" [checked]="isChecked(item.id)" (change)="checkSong(item.id)"> 
                    <span class="checkmark"></span>
                </label>
                <span class="name" [routerLink]="['song',item.id]">{{item.name}}</span>
                
            </div>
        </div>
    </div>
</div>