.content{
    display: grid;
    width: calc(100% - 20px);
    padding: 10px;

    grid-template-columns: 1fr 3fr;
    font-size: 28px;

    .action-menu{
        padding:  88px 0 0 20px;

        div{
            transition: .3s;
            line-height: 48px;
            margin-bottom: 15px;
            text-decoration: underline;
            cursor: pointer;
            
            &:hover{
                color: #EEBA03;
                text-decoration-color: #EEBA03;
            }
        }
    }

    .songs-list{
        .name{
            margin-left: 35px;
            cursor: pointer;
            transition: .3s;

            &:hover{
                color: #EEBA03;
            }
        }

        .song-item-label {
            display: block;
            position: relative;
            padding-left: 40px;
            margin-bottom: 12px;
            font-size: 32px;
            cursor: pointer;
            user-select: none;


              
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
        
                &:checked ~ .checkmark {
                    background-color: #000000;
                }
        
                &:checked ~ .checkmark:after {
                    display: block;
                  }
            }
        
            .checkmark {
                position: absolute;
                top: 8px;
                left: 0;
                height: 16px;
                width: 16px;
                border: 2px solid black;
                border-radius: 4px;
                transition: .3s;
        
                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            
            }
        }
    }
}

