.content{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 23px;

    .songs-list{
        .name{
            margin-left: 35px;
            cursor: pointer;
            transition: .3s;

            &:hover{
                color: #EEBA03;
                text-decoration-color: #EEBA03;
            }
        }
    }

    .songs-list ol{
        padding-left: 1.5rem;
    }
}

